body {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 100px 1fr;
}

button {
    padding: 0;
}

header {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    grid-column: span 2;
    background: black;
    color: white;
}

#sidebar {
    width: 200px;
    height: 100vh;
    background: gray;
    display: flex;
    flex-direction: column;
}

.sidebarItem {
    display: flex;
    height: 40px;
}

.sidebarItem > form {
    display: flex;
    align-items: center;
}

.sidebarItem > form > input {
    box-sizing: border-box;
    width: 150px;
    height: 20px;
}

.sidebarItemBtn {
    flex: 1;
}

.editButtons {
    width: 50px;
    display: flex;
    align-items: center;
}

#sidebar button {
    background: none;
    border: none;
}

.sidebarItem:hover {
    background: rgb(88, 28, 28);
}

main {
    height: 100vh;
    background: lightgreen;
}

.projectDeleteBtn,
.projectEditBtn {
    padding: 0;
    width: 25px;
    height: 25px;
}

.projectDeleteImg,
.projectEditImg {
    width: 20px;
}

.projectDeleteImg:active,
.projectEditImg:active {
    transform: scale(.9);
}

.hidden {
    display: none;
}

.active {
    border-left: 10px solid green !important;
}
