body {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 100px 1fr;
}

button {
    padding: 0;
}

header {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    grid-column: span 2;
    background: black;
    color: white;
}

#sidebar {
    width: 200px;
    height: 100vh;
    background: gray;
    display: flex;
    flex-direction: column;
}

.sidebarItem {
    display: flex;
    height: 40px;
    padding: 0 5px 0 0;
}

.sidebarItem > form {
    display: flex;
    align-items: center;
}

.sidebarItem > form > input {
    box-sizing: border-box;
    width: 145px;
    height: 20px;
}

.sidebarItemBtn {
    display: flex;
    justify-content: start;
    align-items: center;
    flex: 1;
    font-weight: inherit;
    color: inherit;
    padding: 0 0 0 10px;
}

.editButtons {
    width: 50px;
    display: flex;
    align-items: center;
}

#sidebar button {
    background: none;
    border: none;
}

.sidebarItem:hover {
    background: rgb(88, 28, 28);
}

.projectDeleteBtn,
.projectEditBtn {
    padding: 0;
    width: 25px;
    height: 25px;
}

.projectDeleteImg,
.projectEditImg {
    width: 20px;
}

.projectDeleteImg:active,
.projectEditImg:active {
    transform: scale(.9);
}

main {
    height: 100vh;
    background: lightgreen;
    padding: 10px;
}

#mainHeader {
    width: 100%;
    height: 50px;
    background: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
}

#todoContainer {
    margin: 10px 0 0 0;
}

.todoContainer {
    background: white;
    height: 50px;
}

.hidden {
    display: none;
}

.active {
    color: white;
    font-weight: bold;
}
